/* base styles, feel free to edit */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.logout-btn {
    position: fixed;
    top: 3%;
    right: 5%;
}

.profile-btn {
    position: absolute;
    top: 8vh;
    right: 5vw;
}

.job-container {
    width: 65vw;
    border: 1px solid blue;
    margin: 20px;
    padding: 15px;
    position: relative;
}

.openPopup {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.openPopup:hover {
    opacity: 0.5;
}

.popup-page {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-container {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 70%;
    position: relative;
}

.popup-close-btn {
    position: absolute;
    right: 25px;
    top: 15px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-box {
    margin: 2rem;
}

.comment-box {
    width: 400px;
    height: 50px;
    background: #eee;
    border-radius: 5px;
    margin: 16px 0;
}

.profile-picture {
    width: 180px;
    height: 180px
}

@media (max-width: 400px) {
    .job-container {
        width: 75vw;
    }
}

@media (min-width: 800px) {
    .job-container {
        width: 580px;
    }
}
